ion-title.title-large, ion-title.title-large .ios  {
    font-size: 2rem;
    margin-left: -4px;
    
  }
/*
  .home__pageBg {
    padding-top: 0 !important;

  }
*/
  .home_bg::part(scroll) {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;
    /*
    position: relative;
    */
    /*
    display: grid;
    grid-template-rows:40% auto auto  ;
    */
  }

  .home__pageBg {
    background: url('../assets/images/backgroundHome.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
  }
  .home_bg::part(background) {
    background-color: transparent;
  }
  ion-menu-button, ion-menu-button.ios {
    font-size: 30px ;
    border-radius: 200px !important;    
  }
  ion-header.md {
    padding-top: calc(constant(safe-area-inset-top) + 25px);
    padding-top: calc(env(safe-area-inset-top) + 25px);
    
  }

  ion-header.ios {
    padding-top: 0 !important;
  }

  ion-toolbar, ion-toolbar.md {
    --padding-end: 25px;
    --padding-start: 25px;
    --padding-top: 25px;
    --padding-bottom: 20px;
  }

  .mainContent, .mainContent.md {
    --padding-start: 12px;
    --padding-end: 12px;
    background-color: transparent;  
    background: transparent; 
  }

 .home_donateBtn {
  margin-inline: 28px;
  position: relative;
  bottom: 0;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
 }

 .swiper {
   width: 100%;
 
 }
 .swiper-slide {
   -webkit-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   transition: all 1s ease-out;
   z-index: 999;
 }


 .swiper-slide.swiper-slide-next .slider-card,
 .swiper-slide.swiper-slide-prev .slider-card {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0.4;
 }


 @media (max-height: 690px) { 
    
  /*.swiper {
     margin-top: -20px;
  }*/
  
}
