ion-label {

  --padding-start: 20px
}


.item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0px;
    transition: 0.09s all linear;
    cursor: pointer;

  }

  .item.item-accordion.active {
   
  }

.subMenu-group {
    transition: all .2s linear;
    height: 0;
    overflow: hidden;
}

.subMenu-group.active {
    height: 190px;
    transition: all .2s linear;
}