.action-card {
    box-shadow: none;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;    
    position: relative;
    --background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.1);
    margin-inline: 28px;
    width: 80vw;
    overflow: hidden;
    margin: 20px auto
}

.action-card__image {   
    height: 80px;
    width: 80px;
    object-fit:cover;        
    z-index: 9;
    overflow: visible;
    position: absolute;
    right: 0.5rem;
}

.action-card__image-container {
    position: relative;
    overflow: visible;
    padding-right: 0.5rem;
}

:root {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.action-card__content {
    padding-left: 2rem;
    height: initial;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
h2.action-card__title{  
    width: 6em; 
    font-weight: 700 ;
    font-size: 1.2rem ;
    color:#614E48;
}

h3.action-card__text{    
    font-size: 1.05rem;
    color:#444;
    line-height: 1.2rem;  
}

@media (max-height: 690px) { 
    /*
    .action-card {
        height: 100px;
        margin-top: 15px;
        margin-bottom: 15px;  
    }
    .action-card__content {
        height: auto;
    }
    .action-card__image {  
        bottom: 10;
    }*/
}