.columnModal {

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    margin-top: 4em;
    

}
.columnModal ul {
    text-align: left;
}

.columnModal b {
    color: #614E48
}


.modal_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    padding: 0 1.5em;
    align-items: center;
    position: relative;
}

.modal_textContent {
    margin-top: auto;
    margin-bottom: auto;

}

.modal_textInfo {
   
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 4em;
}

.developedDiv {
    font-size: 0.8rem;
}

.modal_info ul {
    text-align: start;
    list-style: none;
}

.modal_info ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #614E48; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.donateModal__donateBtn{
    text-transform: none;
    font-weight: 700;
    --box-shadow: none;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    --border-radius: 10px
}

.modalSubTitle{
    font-size: 1rem;
    color: #614E48;
}

.fluoLogo {
    width: 40px;
}

.DonateModal__VCLogo {
    width: 60px;
    top: 0;
    position: relative;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;

}

.legalLinks {
    color: gray;
}

.modal_info a {
    color: gray;
}