.columnModal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    padding-top: 4em;
}

.modal_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1.5em;
    align-items: center;
}

.modal_textInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.developedDiv {
    font-size: 0.8rem;
}

ul {
    text-align: start;
}

.donateModal__donateBtn{
    text-transform: none;
    font-weight: 700;
    --box-shadow: none;
    width: 100px;
    height: 50px;
}

.legalTitle{
    font-size: 1.3rem;
    color: #111;
}

.fluoLogo {
    width: 40px;
}