.lecture-card {
    /*height: 110px;*/  
    -webkit-box-shadow: none;  
            box-shadow: none;
    border-radius: 13px;
    font-family: 'Roboto', sans-serif;
}

ion-card-content {
    height: 110px;
}

.lecture-card__image {   
    height: 100%;
    -o-object-fit:cover;
       object-fit:cover;

}

:root {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}
h2.lecture-card__title{    
    font-weight: 700 ;
    font-size: 1.2rem ;
    color:#444;
}

h3.lecture-card__text{    
    font-size: 1.05rem;
    color:#444;
    line-height: 1.2rem;
   
}