

.slider-card {
    height: 45vh;
    width: 80vw;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 13px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    margin: 0 auto;
    --background: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slider-card__image {   
    max-width:100%;
    max-height:100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
}
h2.slider-card__title{    
    font-weight: 400 ;
    font-size: 1.7rem ;
    color:white;   
}

h3.slider-card__text{    
    font-size: 1rem;
    font-weight: 700;
    color:white;
    line-height: 1.2rem;
   
}

.slider-card .slider-card__content {
    bottom: 0.8rem;
    position: absolute;
    width: 100%;
    z-index: 2;
   

}

.slider-card__gradient {
    position: absolute;
    bottom: 0;
    height: 110px;
    z-index: 1;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(rgba(0, 0, 0, 0.98)));
    background: -o-linear-gradient(top, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
}



@media (max-height: 740px) { 
    
    .slider-card {
        height: 40vh;
        width: 80vw;
    }    
}

@media (max-height: 690px) { 
    
    .slider-card {
        height: 35vh;
        width: 80vw;
    }    
}
/*
@media (max-height: 630px) { 
    
    .slider-card {
        height: 45vw;
        width: 80vw;
    }    
}*/

